body {
  text-align: center;
  background-color: darkslategray;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

h2, li {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 1%;
  color: #FEF2BF;
}

li {
  font-size: 1rem;
  line-height: 150%;
  text-align: left;
}

h2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

#start-container {
  margin: 2rem auto;
}

#start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: auto;
  padding: 1%;
  border: 5px solid black;
  border-radius: 60%;
  background-color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  margin:1%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
}

.row {
  display: flex;
}

.btn {
  margin: 1rem;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
